<div class="container-fluid">

    <form #billingForm="ngForm">
        <h1 class="mt-4">Billing</h1>
        <div class="form-group">
            <label for="nombre">Name</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nombre" #nombre="ngModel" name="nombre" autofocus required minlength="4">
        </div>
    
        <div class="form-group">
            <label for="apellido">Last name</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.apellido" #apellido="ngModel" name="apellido" required minlength="4">
        </div>
    
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.country" #country="ngModel" name="country" required minlength="4">
        </div>
    
        <div class="form-group">
            <label for="direccion1">Address Line 1</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.addressLine" #addressLine="ngModel" name="addressLine" required minLength="4">
        </div>
    
        <div class="form-group">
            <label for="direccion2">Address Line 2</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.addressLineS" #addressLineS="ngModel" name="addressLineS" autofocus required minLength="4">
        </div>
    
        <div class="form-group">
            <label for="country">City</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.city" #city="ngModel" name="city" required minlength="4">
        </div>
    
        <div class="form-group">
            <label for="country">Province</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.province" #province="ngModel" name="province" required minlength="4">
        </div>
    
        <div class="form-group">
            <label for="country">Postal Code</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.postalCode" #postalCode="ngModel" name="postalCode" required minlength="4">
        </div>
    
        <div class="text-center">
            <button type="submit" (click)="updateAccount()" class="btn btn-primary col-5" role="button">Submit</button>
        </div>
    
    </form>

</div>