<div class="container">
    
    <div class="jumbotron border border-primary">
        <h1 class="display-4">Acerca de mi</h1>
        <p class="lead">Mi nombre es Jesus Francisco Carrizales Luque</p>
        <p class="lead">Ingeniero en TICs egresado del Instituto Tecnologico de Ciudad Madero</p>
        <hr class="my-4">
        <h3>FullStack Developer Jr.</h3>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                  <li> <strong>Cumpleaños:</strong> {{cumpleanios | date: 'dd/MM/yyyy'}}</li>
                  <li> <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/jluque23/" target="_blank"> Jesus Luque</a> </li>
                  <li> <strong>Telefono:</strong> {{telefono}}</li>
                  <li> <strong>Ciudad:</strong> {{ciudad}}</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><strong>Edad:</strong> {{getAge(cumpleanios)}}</li>
                  <li><strong>Grado de estudios:</strong> {{estudios}}</li>
                  <li><strong>Correo electronico:</strong> {{email}}</li>
                  <li><strong>Freelancer:</strong> {{freelancer}}</li>
                </ul>
              </div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item">El autoaprendizaje es mi pasion</li>
                        <li class="list-group-item">Construir aplicaciones web con la mas alta calidad mi objetivo</li>
                        <li class="list-group-item">2 años de experiencia en Backend (Java, Sql)</li>
                        <li class="list-group-item">Frameworks: Spring, JPA, MyBatis</li>
                        <li class="list-group-item">1 año de experiencia en Frontend (Html, Css, Javascript)</li>
                        <li class="list-group-item">Frameworks: Angular, Vaadin, JSP, Bootstrap</li>
                        <li class="list-group-item">Control de versiones: GitHub</li>
                        <li class="list-group-item"><a href="https://github.com/jluque23" target="_blank">Github Jesus Luque</a></li>
                    </ul>
                    
                </div>
                <div class="col-lg-6">
                    <img style="width: 450px;" src="/assets/images/perfiljluque.jpg" alt="">
                </div>
            </div>
            
        </div>
</div>
        
        



