<h4 class="card-title">
    <a [routerLink]="['/publicaciones']" class="btn btn-light btn-xs">&laquo; Volver</a>
</h4>

<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Titulo</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" required>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Sinopsis</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" required></textarea>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Texto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" required></textarea>
      </div>

    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input"
            id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
        <label class="custom-file-label" for="inputGroupFile04" required>Seleccionar foto</label>
    </div>
    <div>
        <button class="btn btn-primary">Crear Publicacion</button>
    </div>
  </form>