<detalle-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado"></detalle-producto>

<div class="card border-primary mb-3">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de productos</h5>

        <div *ngIf="authService.hasRole('ROLE_ADMIN')"class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/productos/form']">Crear Producto</button>
        </div>

        <div *ngIf="productos?.length==0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th *ngIf="authService.hasRole('ROLE_USER')">Imagen</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td *ngIf="authService.hasRole('ROLE_USER')">
                    <img *ngIf="producto?.foto" src="http://localhost:8080/api/uploads/img/{{producto.foto}}" (click)="abrirModal(producto)" class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer;">
                        <img *ngIf="!producto?.foto" src="http://localhost:8080/images/no-image.png" (click)="abrirModal(producto)" alt="Sin foto" class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer;"></td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio | currency : 'MXN' }}</td>
                    <td>{{producto.createAt}}</td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="editar" [routerLink]="['/productos/form',producto.id]" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>

    </div>
</div>