<div class="container">
    
    <div class="jumbotron border border-primary">
        <h1 class="display-4">Experiencia profesional</h1>
        <p class="lead">FullStack Developer Jr.</p>
        <p class="lead">A lo largo de mi carrera profesional he sido participe en estos proyectos.</p>
        <hr class="my-4">

        <div class="row">
            <div class="container">

                <div class="col mb-3">
                  <div class="card border-primary">
                      <div class="card-header">
                        <p>Programador</p>
                        <p>2019 Septiembre - 2020 Marzo</p>
                        <h5 class="card-title">Icest, Tampico Tamaulipas</h5>
                      </div>
                    <div class="card-body">
                    <li class="list-group-item">
                        <p class="card-text">Proyecto a cargo "Bolsa de trabajo"</p>
                        <p class="card-text">Desarrollo y mantenimiento de una bolsa de trabajo enfocada 
                            en los alumnos egresados de la institucion conjunto a empresas del sector que desearan 
                            integrarse a la bolsa de trabajo para publicar sus vacantes con filtros dependiendo
                            de las carreras que ofrece la universidad, "Gastronomia, Ingenierias, Licenciaturas"
                        </p>
                        <p class="card-text">La aplicacion automaticamente enlaza a los recien egresados de carreras
                            otorgandoles su usuario y contraseña para la aplicacion, contiene una seccion de administrador y login,
                            seccion para ver y aplicar a vacantes, seccion para crear y actualizar vacantes, seccion de graficas
                            donde el administrador puede ver todo lo referente a las vacantes
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text">Soporte a tickets mantenimiento Sistema Integral</p>
                        <p class="card-text">Los usuarios del Sistema Integral de Desarrollo Institucional solicitan
                            cambios en el sistema, puede ser una nueva implementacion nueva de alguna funcionalidad
                            o algun flujo de informacion que estan manejando en alguna funcionalidad del sistema
                            no este funcionando correctamente, dependiendo el caso se lleva a desarrollo, y se crean modificaciones
                            en el sistema. 
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>Lenguajes y frameworks utilizados</p>
                        <p>Html, Css, Javascript, Java, MySQL, OracleSql PeopleCode, PeopleSoft Solutions</p>
                    </li>

                    </div>
                  </div>
                </div>

                <div class="col mb-3">
                  <div class="card border-primary">
                      <div class="card-header">
                          <p>Desarrollador Java Jr</p>
                          <p>2019 Febrero - 2019 Septiembre</p>
                          <h5 class="card-title">Grupo Castañeda, Tampico Tamaulipas</h5>
                        </div>
                    <div class="card-body">
                        <li class="list-group-item">
                            <p class="card-text">Desarrollo de ERP "Grupo Castañeda"</p>
                            <p class="card-text">Desarrollo de modulos para un ERP propio para la empresa</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Inventario de TI
                                    <p class="card-text">Este modulo esta conformado de varias funcionalidades
                                        las cuales abarcan asignacion de equipo de TI(Celulares, Laptops, Equipo de computo)
                                        para verificar a quien se le ha asignado este equipo de computo, realizar documento de impresion de carta responsiva
                                        alimentar las bases de datos de la empresa con toda esta informacion, verificar el estado de computo, integracion de zXing
                                        para implementacion de codigos QR
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    Operaciones
                                    <p class="card-text">Este modulo cuenta con dos versiones diferentes(Web y escritorio)
                                        Este proyecto rastrea contenedores en aduana implementando APIs de diferentes bases de datos,
                                        para verificar donde esta el contenedor.
                                        La version web cuenta con posibilidad de actualizar el rastreo de los contenedores, tomar fotografias
                                        de los contenedores para anexarlas a su documentacion se obtiene un numero de rastreo obtenido de las API
                                        con el cual el acceso y modificacion de estos mismos se realiza y con el se pueden agregar y obtener las fotografias
                                        de los contenedores.
                                        Esta version solo es para toma de fotografias y generar cambios en el estado de revision de estos contenedores.
                                    </p>
                                    <p class="card-text">La version de escritorio cuenta con un visualizador de imagenes
                                        el cual funciona para verificar las imagenes que se han insertado desde el celular
                                        y tambien se le pueden anexar imagenes, esta version solo se utiliza para impresion debido
                                        a que por motivos de operacion una persona verifica los contenedores y otra persona desde oficina
                                        revisa lo que el operador realiza.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    Herramienta para migracion de base de datos
                                    <p class="card-text">Esta herramienta lo que hace es obtener informacion de bases de datos antiguas
                                        PostgreSQL, Informix e inserta la informacion en una nueva base de datos MySQL.
                                    </p>
                                </li>
                            </ul>
                            
                        </li>
                        <li class="list-group-item">
                            <p>Lenguajes y frameworks utilizados</p>
                            <p>Html, Css, Javascript, Java, MySQL, Vaadin</p>
                        </li>
                    </div>
                  </div>
                </div>

                <div class="col mb-3">
                    <div class="card border-primary">
                        <div class="card-header">
                          <p>Desarrollador</p>
                          <p>2018 Junio - 2018 Diciembre</p>
                          <h5 class="card-title">Gestioname, Nuevo Laredo</h5>
                        </div>
                      <div class="card-body">
                      <li class="list-group-item">
                          <p class="card-text">Desarrollo de CRM Gestioname</p>
                          <p class="card-text">La empresa Gestioname se dedica a el gestionamiento de tramites en transporte federal
                              Recibiendo documentos, como carta de poder, carta factura, poliza de seguro, para realizar tramites
                              de alta de vehiculos de transporte de materiales y residuos peligrosos, o vehiculos de procedencia externa y baja de vehiculos
                          </p>
                          <p class="card-text">La problematica era que el recibir de estos documentos, los necesarios para agilizar los tramites no eran necesarios en fisico
                              de ahi surgio la solucion de crear un CRM en el cual el cliente pueda anexar documentos para la agilizacion de estos tramites.
                          </p>
                          <p class="card-text">Se crean funcionalidades Anexar documentos, creacion de usuarios, actualizacion de proceso de tramite
                        </p>
                      </li>
                      <li class="list-group-item">
                          <p>Lenguajes y frameworks utilizados</p>
                          <p>Html, Css, Javascript, Java, MySQL</p>
                      </li>
  
                      </div>
                    </div>
                  </div>
              </div>
            
            
        </div>
</div>
        
        

