<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    
    <div class="card-body">
        <form #productoForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" required minlength="4" #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Precio</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.precio" name="apellido" required minLength="1" #precio="ngModel">
                    <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                        <div *ngIf="precio.errors.required">
                            Precio es requerido
                        </div>
                        <div *ngIf="precio.errors.minlength">
                            Precio debe ser mayor a 1.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="producto.createAt" name="createAt" required minLength="4">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" (click)='create()' role="button" *ngIf="!producto.id else elseBlock" [disabled]="!productoForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" (click)='updateProducto()' role="button" [disabled]="!productoForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>

    </div>
</div>