<div class="jumbotron jumbotron-fluid border border-primary">
    <div class="container">
      <h1 class="display-4">Acerca de esta pagina</h1>
      <h2 class="lead">¿Cual es el motivo de esta pagina web?</h2>

      <p>Esta pagina es una implementacion de varias API y REST, tanto tecnicas de programacion que utilizaria profesionalmente
        la actualizare constantemente y espero pueda ser guia para otros programadores rookie, que esten interesados tanto en programacion
        Frontend como en programacion Backend, ya que tendra un poco de los dos lados esta implementada principalmente con Angular(Html, Css, Typescript)
        y el backend esta hecho en Java(implementando Spring, JPA y MySQL), en algunas partes del programa solo reutilizare API rest de algun servidor.
      </p>

      <div class="container">
          <div class="row">
            <div class="col-lg-6">
                <img style="width: 500px; height: 450px;" src="/assets/images/familyjluque.jpg" class="border border-primary rounded" alt="">
            </div>
            <div class="col-lg-6">
                <img style="width: 500px; height: 450px;" src="/assets/images/jluque.jpg" alt="" class="border border-primary rounded">
            </div>
          </div>
      </div>
    </div>
  </div>